In [1]:
import pandas as pd

data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

df1 = pd.DataFrame(data)
display(df1)

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [2]:
#多個相同索引Series,可以組成1個DataFrame
display(df1['縣市'])
display(df1['年份'])
display(df1['人口'])

0    台北
1    台北
2    台北
3    新竹
4    新竹
5    新竹
Name: 縣市, dtype: object

0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
Name: 年份, dtype: int64

0    2.2
1    2.5
2    2.7
3    1.1
4    1.5
5    2.0
Name: 人口, dtype: float64

In [3]:
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}
df2 = pd.DataFrame(data,columns=['年份','人口','縣市'])
df2

     年份   人口  縣市
0  2000  2.2  台北
1  2001  2.5  台北
2  2002  2.7  台北
3  2001  1.1  新竹
4  2002  1.5  新竹
5  2003  2.0  新竹

In [4]:
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}
df3 = pd.DataFrame(data,columns=['縣市','人口'])
df3

   縣市   人口
0  台北  2.2
1  台北  2.5
2  台北  2.7
3  新竹  1.1
4  新竹  1.5
5  新竹  2.0

In [5]:
data = {
    '縣市': ['台北','台北','台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

df4 = pd.DataFrame(data,index=['one', 'two', 'three', 'foru', 'five', 'six'])
df4

       縣市    年份   人口
one    台北  2000  2.2
two    台北  2001  2.5
three  台北  2002  2.7
foru   新竹  2001  1.1
five   新竹  2002  1.5
six    新竹  2003  2.0

In [6]:
data = [
    {'縣市':'台北', '年份':2000, '人口': 2.2},
    {'縣市':'台中', '年份':2001, '人口': 1.1},
    {'縣市':'新竹', '年份':2001, '人口': 1.5},
]

df5 = pd.DataFrame(data)
df5

   縣市    年份   人口
0  台北  2000  2.2
1  台中  2001  1.1
2  新竹  2001  1.5

In [8]:
#2維的ndArray
import numpy as np

data = np.random.randint(50,101,size=(50,5))
scores_df = pd.DataFrame(data,columns=['國文', '英文', '數學', '地理', '歷史'],index=range(1,51))
scores_df

     國文   英文   數學   地理   歷史
1    68   84   74   84   50
2    57   64   92   66   76
3    74   59   63   59   58
4    97   88   93   50   66
5   100   82   91   86   65
6    69   82   69   91   61
7    53   97   88   82   63
8    84   64   86   93   78
9    79   99   98   92   99
10   63   77   76   76   96
11   61   52   95   55   53
12   73   69   87   74   86
13   91   69   80   74   83
14   86   54   61   64   91
15   79   68   87   92   69
16   55   86   51   99   85
17   53   64   67   62   90
18   58   92   72   54   96
19   99   53   65   84   77
20   79  100   90   72   74
21   93   54   62   58   97
22  100   78   61   71   64
23   68   52   93   63   81
24   76   92   87   64   51
25   71   69   59   55   98
26   55   58   60   68   50
27   80   54   91   94   82
28   86   85   77   91   53
29   78   61   58   69   97
30   80   78   85   80   97
31   65   68   80   92  100
32   85   62   73   95  100
33   51   86   72   64   99
34   58   67   93   68   66
35   69   58   58   67   88
36   71   63   82   96   50
37   58   70   89   56   59
38   94   60   66   80   51
39   84   70   80   74   92
40   79   79   72   71   84
41   58   86   64   69   97
42  100   78   61  100   94
43   50   69   71   82   91
44   93   68  100   70   91
45   78   88   82   84   67
46   92   65   93   73   92
47   97   80   80   53   71
48   68   61   91   71   81
49   85   55   63   95   61
50   86   93   58   62   81

In [9]:
total_series = scores_df['國文'] + scores_df['數學'] + scores_df['英文'] + scores_df['地理'] + scores_df['歷史']
display(total_series)
display(scores_df)
scores_df['總分'] = total_series
display(scores_df)
scores_df['平均'] = total_series / 5.0
display(scores_df)

1     360
2     355
3     313
4     394
5     424
6     372
7     383
8     405
9     467
10    388
11    316
12    389
13    397
14    356
15    395
16    376
17    336
18    372
19    378
20    415
21    364
22    374
23    357
24    370
25    352
26    291
27    401
28    392
29    363
30    420
31    405
32    415
33    372
34    352
35    340
36    362
37    332
38    351
39    400
40    385
41    374
42    433
43    363
44    422
45    399
46    415
47    381
48    372
49    359
50    380
dtype: int64

     國文   英文   數學   地理   歷史
1    68   84   74   84   50
2    57   64   92   66   76
3    74   59   63   59   58
4    97   88   93   50   66
5   100   82   91   86   65
6    69   82   69   91   61
7    53   97   88   82   63
8    84   64   86   93   78
9    79   99   98   92   99
10   63   77   76   76   96
11   61   52   95   55   53
12   73   69   87   74   86
13   91   69   80   74   83
14   86   54   61   64   91
15   79   68   87   92   69
16   55   86   51   99   85
17   53   64   67   62   90
18   58   92   72   54   96
19   99   53   65   84   77
20   79  100   90   72   74
21   93   54   62   58   97
22  100   78   61   71   64
23   68   52   93   63   81
24   76   92   87   64   51
25   71   69   59   55   98
26   55   58   60   68   50
27   80   54   91   94   82
28   86   85   77   91   53
29   78   61   58   69   97
30   80   78   85   80   97
31   65   68   80   92  100
32   85   62   73   95  100
33   51   86   72   64   99
34   58   67   93   68   66
35   69   58   58   67   88
36   71   63   82   96   50
37   58   70   89   56   59
38   94   60   66   80   51
39   84   70   80   74   92
40   79   79   72   71   84
41   58   86   64   69   97
42  100   78   61  100   94
43   50   69   71   82   91
44   93   68  100   70   91
45   78   88   82   84   67
46   92   65   93   73   92
47   97   80   80   53   71
48   68   61   91   71   81
49   85   55   63   95   61
50   86   93   58   62   81

     國文   英文   數學   地理   歷史   總分
1    68   84   74   84   50  360
2    57   64   92   66   76  355
3    74   59   63   59   58  313
4    97   88   93   50   66  394
5   100   82   91   86   65  424
6    69   82   69   91   61  372
7    53   97   88   82   63  383
8    84   64   86   93   78  405
9    79   99   98   92   99  467
10   63   77   76   76   96  388
11   61   52   95   55   53  316
12   73   69   87   74   86  389
13   91   69   80   74   83  397
14   86   54   61   64   91  356
15   79   68   87   92   69  395
16   55   86   51   99   85  376
17   53   64   67   62   90  336
18   58   92   72   54   96  372
19   99   53   65   84   77  378
20   79  100   90   72   74  415
21   93   54   62   58   97  364
22  100   78   61   71   64  374
23   68   52   93   63   81  357
24   76   92   87   64   51  370
25   71   69   59   55   98  352
26   55   58   60   68   50  291
27   80   54   91   94   82  401
28   86   85   77   91   53  392
29   78   61   58   69   97  363
30   80   78   85   80   97  420
31   65   68   80   92  100  405
32   85   62   73   95  100  415
33   51   86   72   64   99  372
34   58   67   93   68   66  352
35   69   58   58   67   88  340
36   71   63   82   96   50  362
37   58   70   89   56   59  332
38   94   60   66   80   51  351
39   84   70   80   74   92  400
40   79   79   72   71   84  385
41   58   86   64   69   97  374
42  100   78   61  100   94  433
43   50   69   71   82   91  363
44   93   68  100   70   91  422
45   78   88   82   84   67  399
46   92   65   93   73   92  415
47   97   80   80   53   71  381
48   68   61   91   71   81  372
49   85   55   63   95   61  359
50   86   93   58   62   81  380

     國文   英文   數學   地理   歷史   總分    平均
1    68   84   74   84   50  360  72.0
2    57   64   92   66   76  355  71.0
3    74   59   63   59   58  313  62.6
4    97   88   93   50   66  394  78.8
5   100   82   91   86   65  424  84.8
6    69   82   69   91   61  372  74.4
7    53   97   88   82   63  383  76.6
8    84   64   86   93   78  405  81.0
9    79   99   98   92   99  467  93.4
10   63   77   76   76   96  388  77.6
11   61   52   95   55   53  316  63.2
12   73   69   87   74   86  389  77.8
13   91   69   80   74   83  397  79.4
14   86   54   61   64   91  356  71.2
15   79   68   87   92   69  395  79.0
16   55   86   51   99   85  376  75.2
17   53   64   67   62   90  336  67.2
18   58   92   72   54   96  372  74.4
19   99   53   65   84   77  378  75.6
20   79  100   90   72   74  415  83.0
21   93   54   62   58   97  364  72.8
22  100   78   61   71   64  374  74.8
23   68   52   93   63   81  357  71.4
24   76   92   87   64   51  370  74.0
25   71   69   59   55   98  352  70.4
26   55   58   60   68   50  291  58.2
27   80   54   91   94   82  401  80.2
28   86   85   77   91   53  392  78.4
29   78   61   58   69   97  363  72.6
30   80   78   85   80   97  420  84.0
31   65   68   80   92  100  405  81.0
32   85   62   73   95  100  415  83.0
33   51   86   72   64   99  372  74.4
34   58   67   93   68   66  352  70.4
35   69   58   58   67   88  340  68.0
36   71   63   82   96   50  362  72.4
37   58   70   89   56   59  332  66.4
38   94   60   66   80   51  351  70.2
39   84   70   80   74   92  400  80.0
40   79   79   72   71   84  385  77.0
41   58   86   64   69   97  374  74.8
42  100   78   61  100   94  433  86.6
43   50   69   71   82   91  363  72.6
44   93   68  100   70   91  422  84.4
45   78   88   82   84   67  399  79.8
46   92   65   93   73   92  415  83.0
47   97   80   80   53   71  381  76.2
48   68   61   91   71   81  372  74.4
49   85   55   63   95   61  359  71.8
50   86   93   58   62   81  380  76.0

In [10]:
display(scores_df.loc[10])
display(scores_df.iloc[9])

國文     63.0
英文     77.0
數學     76.0
地理     76.0
歷史     96.0
總分    388.0
平均     77.6
Name: 10, dtype: float64

國文     63.0
英文     77.0
數學     76.0
地理     76.0
歷史     96.0
總分    388.0
平均     77.6
Name: 10, dtype: float64

In [11]:
#slice
scores_df.loc[1:10]

     國文  英文  數學  地理  歷史   總分    平均
1    68  84  74  84  50  360  72.0
2    57  64  92  66  76  355  71.0
3    74  59  63  59  58  313  62.6
4    97  88  93  50  66  394  78.8
5   100  82  91  86  65  424  84.8
6    69  82  69  91  61  372  74.4
7    53  97  88  82  63  383  76.6
8    84  64  86  93  78  405  81.0
9    79  99  98  92  99  467  93.4
10   63  77  76  76  96  388  77.6

In [12]:
#使用list
scores_df.loc[[1, 3, 5, 7, 9]]

    國文  英文  數學  地理  歷史   總分    平均
1   68  84  74  84  50  360  72.0
3   74  59  63  59  58  313  62.6
5  100  82  91  86  65  424  84.8
7   53  97  88  82  63  383  76.6
9   79  99  98  92  99  467  93.4

In [13]:
#前10筆
display(scores_df.iloc[:10])
#最後10筆
display(scores_df.iloc[-10:])

     國文  英文  數學  地理  歷史   總分    平均
1    68  84  74  84  50  360  72.0
2    57  64  92  66  76  355  71.0
3    74  59  63  59  58  313  62.6
4    97  88  93  50  66  394  78.8
5   100  82  91  86  65  424  84.8
6    69  82  69  91  61  372  74.4
7    53  97  88  82  63  383  76.6
8    84  64  86  93  78  405  81.0
9    79  99  98  92  99  467  93.4
10   63  77  76  76  96  388  77.6

     國文  英文   數學   地理  歷史   總分    平均
41   58  86   64   69  97  374  74.8
42  100  78   61  100  94  433  86.6
43   50  69   71   82  91  363  72.6
44   93  68  100   70  91  422  84.4
45   78  88   82   84  67  399  79.8
46   92  65   93   73  92  415  83.0
47   97  80   80   53  71  381  76.2
48   68  61   91   71  81  372  74.4
49   85  55   63   95  61  359  71.8
50   86  93   58   62  81  380  76.0