In [1]:
import pandas as pd
series1 = pd.Series([4.5, 7.2, -5.3, 3.6],index=['d','b','a','c'])
series1

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [2]:
series1.reindex(['a','b','c','d'])

a   -5.3
b    7.2
c    3.6
d    4.5
dtype: float64

In [3]:
series1.reindex(['a','c','d'])

a   -5.3
c    3.6
d    4.5
dtype: float64

In [4]:
import numpy as np
data_array = np.arange(9)
#ndarray有4個檢查的屬性
display(data_array.dtype)
display(data_array.shape)
display(data_array.size)
display(data_array.ndim)

dtype('int64')

(9,)

9

1

In [5]:
np.reshape(np.arange(9),(3,3))

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [6]:
df1 = pd.DataFrame(np.arange(9).reshape((3,3)),
                   index=['a','c','d'],
                   columns=['台北','台中','高雄']
                   )
df1.reindex(columns=['台北','台中'],index=['a','d','c'])

   台北  台中
a   0   1
d   6   7
c   3   4