In [1]:
import numpy as np
import pandas as pd

s1 = pd.Series(np.random.randn(9),
          index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                       [1, 2, 3, 1, 2, 3, 1, 2, 3]])
s1

a  1   -0.028479
   2   -0.208769
   3    1.679364
b  1   -0.137603
   2    0.904965
c  3    1.424905
   1   -1.395720
d  2   -0.610962
   3    0.893812
dtype: float64

In [2]:
df1 = s1.unstack(fill_value=0)
df1

          1         2         3
a -0.028479 -0.208769  1.679364
b -0.137603  0.904965  0.000000
c -1.395720  0.000000  1.424905
d  0.000000 -0.610962  0.893812

In [3]:
df1.stack()

a  1   -0.028479
   2   -0.208769
   3    1.679364
b  1   -0.137603
   2    0.904965
   3    0.000000
c  1   -1.395720
   2    0.000000
   3    1.424905
d  1    0.000000
   2   -0.610962
   3    0.893812
dtype: float64